@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/**{
	box-sizing: border-box
}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.contenedor {
	position: relative;	
}#inicio {
}

.slider {
	padding-bottom: 12px;




}
.balazo {

}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #202020;
	background-color: #212121;
}
h1 {
	font-weight: 900;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider {
	width: 100%;
	background-image: url(../imgs/4724.jpg);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.historia {
	width: 100%;
	height: 120vh;
	background-image: url(../imgs/header-plastic-oceanography.jpg);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 32px;
}
.pp {
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/v3v4machine.jpg);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
}
.caracteristicas {
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/IMG_20201106_105421.jpg);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
}
.caracteristicas h1 {
	text-align: left;
	font-size: 21px;


}

.quiensomos {
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/quienessomos.png);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
}
.solicitud {
	width: 100%;
	height: 100vh;
	background-image: url(../imgs/p05f941p.jpg);
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
}
.balazo {
	width: 80%;
	margin-left: 16px;
	padding-right: 32px;
}
.balazo p {
	color: #FFFFFF;
	margin-bottom: 16px;
	margin-top: 16px;
	font-size: 14px;
	line-height: 21px;
}
.boton {
    width: 140px;
    height: 56px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: #F20530;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: rgba(255,255,255,1.00);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #000000;
    border-spacing: 10px 10px;
}
.btn-ant a {
	height: 40px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: rgba(0,0,0,0.00);
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-spacing: 10px 10px;
	font-size: 12px;
	float: left;
}
.boton a {
    text-decoration: none;
    color: rgba(255,255,255,1.00);
}
.boton a:hover {
    color: #202020;
}
.btn-ant a:hover  {
	height: 40px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: rgba(0,0,0,0.50);
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-spacing: 10px 10px;
	font-size: 12px;
}
.btn-sig a {
	height: 40px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: rgba(0,0,0,0.00);
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-spacing: 10px 10px;
	font-size: 12px;
	float: left;
	margin-left: 16px;
}
.btn-sig a:hover  {
	height: 40px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: rgba(0,0,0,0.50);
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #FFFFFF;
	border-spacing: 10px 10px;
	font-size: 12px;
	float: left;
	margin-left: 16px;
}
.caja {
	background-color: rgba(236,69,72,0.76);
	width: 80vw;
	margin-left: 12px;
	margin-bottom: 12px;
	margin-right: 12px;
	padding-top: 32px;
	top: 50px;
	display: inline-block;
	margin-top: 80px;
	padding-bottom: 25px;
	border: 5px solid rgba(0,0,0,1.00);
	border-radius: 25px;
}
header {
	width: 100%;
	height: 100px;
	z-index: 1;
	position: fixed;
}
footer {
	width: 100%;
	padding-top: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	padding-left: 32px;
	color: #FFFFFF;
	height: 100vh;
}
.col-01 {
	width: 100%;
	margin-top: 30%;
}


footer  h1 {
	font-size: 22px;
	display: none;
}
footer ul {
	margin-top: 32px;
}
footer li {
	height: 40px;
	font-weight: 500;
	font-style: 16px;
}





.logo {
	width: 150px;
	height: 40px;
	position: absolute;
	right: 32px;
	top: 32px;
	background-image: url(../imgs/logo.png);
	background-repeat: no-repeat;
	background-size: 150px auto;
}

.col-02 {
	width: 100%;

}
.redes {
	width: 50px;
	height: 50px;
	background-size: 50px auto;
	background-repeat: no-repeat;
	margin-top: 32px;
	display: inline-block;
	margin-right: 32px;
}

@media (min-width: 768px){
footer {
	height: 100%;
}
footer h1 {
	display: block;
}
.col-01 {
	width: 30%;
	margin-top: 0px;
	float: left;
}
.col-02 {
	width: 30%;
	float: left;
	padding-top: 0px;
	margin-left: 32px;
}
.balazo {
	width: 80%;
}
.balazo p {
	font-size: 16px;
	line-height: 24px;
}

.caja {
	width: 60%;
}
.caja {
	margin-left: 32px;
	padding-left: 16px;
}







}
