@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/**{
	box-sizing: border-box
}*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.contenedor {
	
}#inicio {
}
.slider {
}
.balazo {
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #202020;
}
h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/4724.jpg);
    background-position: center 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
.balazo {
	width: 70%;
	margin-left: 32px;
}
.balazo p {
	color: #FFFFFF;
	margin-bottom: 16px;
	margin-top: 16px;
}
.boton {
    width: 140px;
    height: 56px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: #F20530;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: rgba(255,255,255,1.00);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #000000;
    border-spacing: 10px 10px;
}
.boton a {
    text-decoration: none;
    color: rgba(255,255,255,1.00);
}
.boton a:hover {
    color: #202020;
}
.caja {
	background-color: rgba(236,69,72,0.76);
	width: 50vw;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	padding-top: 50px;
	padding-left: 20px;
	top: 50px;
	display: inline-block;
	margin-top: 50px;
	padding-bottom: 25px;
	border: 5px solid rgba(0,0,0,1.00);
	border-radius: 25px;
}
